# Config for GNU GRand Unified Bootloader (GRUB)
# /boot/grub/grub.cfg

# Timeout for menu
set timeout=60

# Default boot entry
set default=0

# Menu Colours
set menu_color_normal=white/black
set menu_color_highlight=white/green

# Path to the partition holding ISO images (using UUID)
#set imgdevpath="/dev/disk/by-uuid/UUID_value"
# ... or...
# Path to the partition holding ISO images (using device labels)
#set imgdevpath="/dev/disk/by-label/label_value"
set imgdevpath="/dev/disk/by-label/MULTIBOOT"

# Boot ISOs ... NOTE: To use these menu entries will require separately
# downloading the matching ISO files.

menuentry "SystemRescueCd 64bit" {
    set iso="/boot/iso/systemrescuecd-x86-4.9.6.iso"
    loopback loop $iso
    linux (loop)/isolinux/rescue64 isoloop=$iso setkmap=us
    initrd (loop)/isolinux/initram.igz
}

menuentry "SystemRescueCd 32bit" {
    set iso="/boot/iso/systemrescuecd-x86-4.9.6.iso"
    loopback loop $iso
    linux (loop)/isolinux/rescue32 isoloop=$iso setkmap=us
    initrd (loop)/isolinux/initram.igz
}

menuentry "Debian Stretch RC 3 - 64bit Mini-Installer" {
    set iso="/boot/iso/debian-stretch-rc3-amd64-mini.iso"
    loopback loop $iso
    linux (loop)/linux
    initrd (loop)/initrd.gz
}

menuentry "Debian Stretch RC 3 - 32bit Mini-Installer" {
    set iso="/boot/iso/debian-stretch-rc3-i386-mini.iso"
    loopback loop $iso
    linux (loop)/linux
    initrd (loop)/initrd.gz
}

# Debian 64/32bit Netinst+firmware images
#
# This was a bit tricky to get working. Selecting firmware-VERSION-netinst.iso
# from the GRUB menu would get things started but the install would fail at the
# stage where the ISO needs to be located and mounted. Debian's netinst images
# do not include the iso-scan package , which is required for searching and
# loading ISO images.
#
# For a work-around ...
# check out 'Step 3.1' of http://www.circuidipity.com/multi-boot-usb.html

menuentry "Debian Jessie - 64bit Netinst+firmware" {
    set iso="/boot/iso/firmware-8.7.1-amd64-netinst.iso"
    loopback loop $iso
    linux (loop)/install.amd/vmlinuz iso-scan/ask_second_pass=true iso-scan/filename=$iso priority=low vga=788 --- quiet 
    initrd /boot/debian/install.amd/initrd.gz
}

menuentry "Debian Jessie - 32bit Netinst+firmware" {
    set iso="/boot/iso/firmware-8.7.1-i386-netinst.iso"
    loopback loop $iso
    linux (loop)/install.386/vmlinuz iso-scan/ask_second_pass=true iso-scan/filename=$iso priority=low vga=788 --- quiet 
    initrd /boot/debian/install.386/initrd.gz
}

menuentry "Lubuntu 16.04 - 64bit Live Mode + Desktop Installer" {
    set iso="/boot/iso/lubuntu-16.04.2-desktop-amd64.iso"
    loopback loop $iso
    linux (loop)/casper/vmlinuz.efi boot=casper iso-scan/filename=$iso noprompt noeject
    initrd (loop)/casper/initrd.lz
}

menuentry "Ubuntu 16.04 LTS - 64bit Mini-Installer" {
    set iso="/boot/iso/ubuntu-1604-amd64-mini.iso"
    loopback loop $iso
    linux (loop)/linux boot=casper iso-scan/filename=$iso noprompt noeject
    initrd (loop)/initrd.gz
}

menuentry "Ubuntu 16.04 LTS - 32bit Mini-Installer" {
    set iso="/boot/iso/ubuntu-1604-i386-mini.iso"
    loopback loop $iso
    linux (loop)/linux boot=casper iso-scan/filename=$iso noprompt noeject
    initrd (loop)/initrd.gz
}

menuentry "Ubuntu 16.04 LTS - 32bit Mini-Installer ('forcepae' for Pentium M)" {
    set iso="/boot/iso/ubuntu-1604-i386-mini.iso"
    loopback loop $iso
    linux (loop)/linux boot=casper iso-scan/filename=$iso noprompt noeject forcepae
    initrd (loop)/initrd.gz
}

