# Config for GNU GRand Unified Bootloader (GRUB)
# /boot/grub/grub.cfg

# Timeout for menu
set timeout=60

# Default boot entry
set default=0

# Menu Colours
set menu_color_normal=white/black
set menu_color_highlight=white/green

# Path to the partition holding ISO images (using UUID)
#set imgdevpath="/dev/disk/by-uuid/UUID_value"
# ... or...
# Path to the partition holding ISO images (using device labels)
#set imgdevpath="/dev/disk/by-label/label_value"
set imgdevpath="/dev/disk/by-label/MULTIBOOT"

# 'Close Encounters' (comment out to silence the tune)
play 480 900 2 1000 2 800 2 400 2 600 3

# CPU information (Thanks Giles <http://gilesorr.com/>!)
function cpu_props {
	echo "GRUB's ability to analyse processors is limited, we can ask:"
	echo " * is it 64/32bit?"
	echo " * does it support Physical Address Extension (PAE)?"
	if cpuid -p; then
		pae_assessment="Yes"
	else
		pae_assessment="No"
	fi
    echo ""
	if cpuid -l; then
        echo "(O<"
        echo "(/)_ .: Processor: 64bit, PAE: $pae_assessment"
	else
        echo "(O<"
        echo "(/)_ .: Processor: 32bit, PAE: $pae_assessment"
	fi
}

menuentry "Tell Me About This Machine's Processor" {
	cpu_props
	echo $"Press escape to return to the main menu"
	sleep --interruptible 9999
}

# Boot ISOs
# To use these menu entries will require separately downloading the
# matching ISO files.

submenu "Debian ->" {
set menu_color_normal=white/black
set menu_color_highlight=white/green

# Debian 64/32bit Netinst+firmware images
#
# This was a bit tricky to get working. Selecting firmware-VERSION-netinst.iso
# from the GRUB menu would get things started but the install would fail at the
# stage where the ISO needs to be located and mounted. Debian's netinst images
# do not include the iso-scan package , which is required for searching and
# loading ISO images.
#
# For a work-around ...
# check out http://www.circuidipity.com/multi-boot-usb.html#debian-netinst

menuentry "Debian 9 Stretch - 64bit Netinst+firmware" {
    set iso="/boot/iso/firmware-9.0.0-amd64-netinst.iso"
    loopback loop $iso
    linux (loop)/install.amd/vmlinuz iso-scan/ask_second_pass=true iso-scan/filename=$iso priority=low vga=normal quiet 
    initrd /boot/debian/install.amd/initrd.gz
    }

menuentry "Debian 9 Stretch - 32bit Netinst+firmware" {
    set iso="/boot/iso/firmware-9.0.0-i386-netinst.iso"
    loopback loop $iso
    linux (loop)/install.386/vmlinuz iso-scan/ask_second_pass=true iso-scan/filename=$iso priority=low vga=normal quiet 
    initrd /boot/debian/install.386/initrd.gz
    }
    
#menuentry "BunsenLabs Deuterium (Jessie) - 64bit Installer" {
#    set iso="/boot/iso/bl-Deuterium-amd64_20170429.iso"
#    loopback loop $iso
#    linux (loop)/install/vmlinuz iso-scan/ask_second_pass=true iso-scan/filename=$iso priority=low vga=normal quiet 
#    initrd /boot/debian/install.amd/initrd.gz
#    }

#menuentry "BunsenLabs Deuterium - 32bit NonPAE Installer" {
#    set iso="/boot/iso/bl-Deuterium-i386+NonPAE_20170429.iso"
#    loopback loop $iso
#    linux (loop)/install/vmlinuz iso-scan/ask_second_pass=true iso-scan/filename=$iso priority=low vga=normal quiet 
#    initrd /boot/debian/install.386/initrd.gz
#    }
}

submenu "SystemRescueCd ->" {
set menu_color_normal=white/black
set menu_color_highlight=white/green

menuentry "SystemRescueCd 64bit" {
    set iso="/boot/iso/systemrescuecd-x86-4.9.6.iso"
    loopback loop $iso
    linux (loop)/isolinux/rescue64 isoloop=$iso setkmap=us
    initrd (loop)/isolinux/initram.igz
    }

menuentry "SystemRescueCd 32bit" {
    set iso="/boot/iso/systemrescuecd-x86-4.9.6.iso"
    loopback loop $iso
    linux (loop)/isolinux/rescue32 isoloop=$iso setkmap=us
    initrd (loop)/isolinux/initram.igz
    }
}

submenu "Ubuntu ->" {
set menu_color_normal=white/black
set menu_color_highlight=white/green

menuentry "Ubuntu 16.04 LTS - 64bit Mini-Installer" {
    set iso="/boot/iso/ubuntu-1604-amd64-mini.iso"
    loopback loop $iso
    linux (loop)/linux boot=casper iso-scan/filename=$iso noprompt noeject
    initrd (loop)/initrd.gz
    }

menuentry "Ubuntu 16.04 LTS - 32bit Mini-Installer" {
    set iso="/boot/iso/ubuntu-1604-i386-mini.iso"
    loopback loop $iso
    linux (loop)/linux boot=casper iso-scan/filename=$iso noprompt noeject
    initrd (loop)/initrd.gz
    }

menuentry "Ubuntu 16.04 LTS - 32bit Mini-Installer ('forcepae' for Pentium M)" {
    set iso="/boot/iso/ubuntu-1604-i386-mini.iso"
    loopback loop $iso
    linux (loop)/linux boot=casper iso-scan/filename=$iso noprompt noeject forcepae
    initrd (loop)/initrd.gz
    }

#menuentry "Lubuntu 16.04 LTS - 64bit Live Mode + Desktop Installer" {
#    set iso="/boot/iso/lubuntu-16.04.2-desktop-amd64.iso"
#    loopback loop $iso
#    linux (loop)/casper/vmlinuz.efi boot=casper iso-scan/filename=$iso noprompt noeject
#    initrd (loop)/casper/initrd.lz
#    }
}

# Hmm ... on my C720 Chromebook this memory tool would freeze on startup and
# the machine required a hard reset. Reported OK on other machines.
menuentry "Memory test (memtest86+)" --hotkey=M {
    linux16 /boot/iso/memtest86+-5.01.bin
}

menuentry "Reboot" {
    reboot
}
